edc-navigation,
egs-navigation,
eos-navigation,
epicgames-navigation,
fortnite-navigation,
rocketleague-navigation,
twinmotion-navigation,
fallguys-navigation,
realitycapture-navigation,
metahuman-navigation,
devportal-navigation,
unrealengine-navigation,
sac-navigation,
ssp-navigation,
kws-navigation,
quixel-navigation {
	display: flex;
	height: 4.5rem;
	font-family: Inter, sans-serif;
}
